.d3tooltip {
  font-weight: bold;
  padding: 0.2rem;
  position: absolute;
  border: 1px solid silver;
  background-color: white;
}

.hidden {
  display: none;
}

#slider {
  width:760px;
  /*height:50px;*/
}

.ui-slider-handle {
	height: 1em;
	width: 1em;
	top: -0.2em;
}

#slider_labels {
  width:600px;
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  /*height:50px;*/
}

.spacer {
  padding-top: 20px;
}

#map_2_sidebar {
  padding-left: 10px;
}

#slider_labels > ul {
  text-align: justify;
}
#slider_labels > ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#slider_labels > ul:before {
    content: '';
    display: block;
    margin-top: -1.25em;
}
#slider_labels > li {
    display: inline-block;
    margin-right: -1.75em;
    position: relative;
    top: 1.25em;
}

#map {
  background-color: white;
  float: left;
}

.map_1_holder {
	width: 1200px;
	height: 400px;
	background-color: #fff;
}

.map_1_label_holder {
  width: 1200px;
  height: 50px;
  background-color: #fff;
  text-align: center;
}

.map_1_legend {
	width:120px;
}

#value {
	font-weight: 200;
}

/* Dropdown Button */
.d3-dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.d3-dropbtn:hover, .d3-dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.d3-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.d3-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.d3-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.d3-dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.d3-show {display:block;}

#map_2_legend {
  width:200px;
   min-height: 150px;
}

#map_2_right {
  padding-left:20px;
  float: left;
}

#map_2 {
  float:left;
}

.map-float-left {
  float:left;
  padding-right: 5px;
}

.label-float-left {
  float:left;
  width:360px;
}

.eviction-moratorium {
  margin-left:150px;
  width:150px;
  height:10px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
}

.moratorium-header {
  margin-left:130px;
  font-size: 11px;
}

.selection_holder {
  padding-bottom: 10px;
}